@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/inter/Inter24pt-Bold.woff2') format('woff2'),
        url('../fonts/inter/Inter24pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/inter/Inter24pt-ExtraLight.woff2') format('woff2'),
        url('../fonts/inter/Inter24pt-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/inter/Inter24pt-ExtraBold.woff2') format('woff2'),
        url('../fonts/inter/Inter24pt-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/inter/Inter24pt-Italic.woff2') format('woff2'),
        url('../fonts/inter/Inter24pt-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/inter/Inter24pt-Light.woff2') format('woff2'),
        url('../fonts/inter/Inter24pt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/inter/Inter24pt-Regular.woff2') format('woff2'),
        url('../fonts/inter/Inter24pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/inter/Inter24pt-Medium.woff2') format('woff2'),
        url('../fonts/inter/Inter24pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/inter/Inter24pt-SemiBold.woff2') format('woff2'),
        url('../fonts/inter/Inter24pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/inter/Inter24pt-ThinItalic.woff2') format('woff2'),
        url('../fonts/inter/Inter24pt-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('Inter28pt-Black.woff2') format('woff2'),
        url('Inter28pt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('../fonts/inter/Inter24pt-Thin.woff2') format('woff2'),
        url('../fonts/inter/Inter24pt-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('Inter28pt-ExtraBold.woff2') format('woff2'),
        url('Inter28pt-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('Inter28pt-Bold.woff2') format('woff2'),
        url('Inter28pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('Inter28pt-LightItalic.woff2') format('woff2'),
        url('Inter28pt-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('Inter28pt-Light.woff2') format('woff2'),
        url('Inter28pt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('Inter28pt-Italic.woff2') format('woff2'),
        url('Inter28pt-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('Inter28pt-SemiBold.woff2') format('woff2'),
        url('Inter28pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('Inter28pt-Regular.woff2') format('woff2'),
        url('Inter28pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('Inter28pt-Medium.woff2') format('woff2'),
        url('Inter28pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('Inter28pt-Thin.woff2') format('woff2'),
        url('Inter28pt-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

