@import url('./grid.css');
@import url('./inter-font.css');
@import url('./poppins-font.css');

/*__________________________ Global _____________________________*/

$font-1:"Inter", sans-serif ;
.font-inter {
font-family: $font-1;
}

$font-2:"Poppins";
.font-poppins {
    font-family: $font-2;
}

$white:#FFF;
.white {
    color:$white;
}

$systemGrey-300:#E0E0E0;
.systemGrey-300 {
    color:$systemGrey-300;
}

$light-primary-origin: #3563E9;
.light-primary-origin {
    color:$light-primary-origin;
}

$typography: #E4DBDB;
.typography {
    color:$typography;
}

$Grey-Secondary: #676868;
.Grey-Secondary {
    color:$Grey-Secondary;
}

$Primary: #D7FB00;
.Primary {
    color:$Primary;
}

$black: #000;
.black  {
    color:$black;
}

$light-black: #141414;
.light-black {
    color:$light-black;
}

$background-color: #0D0D0D;
.background-color {
    color:$background-color;
}

/*______________ H E A D E R   A S M A A ____________ */

header{

}

/*______________ H E R O  S E C T I O N   A S M A A  ____________ */
.hero-section {

}


/*______________ W H Y  C H O O S E  U S   E M A N ____________ */
.choose-us-section {

}

/*______________ H A P P Y  C L I E N T S   E M A N ____________ */
.happy-clients-section {

}


/*______________ C H O O S E  B E S T  P L A N   M A R I M ____________ */
.best-plan-section {

}

/*______________ F O O T E R   M A R I M ____________ */
footer {

}